@model WorkTaskViewModel

@{
    var users = ViewBag.Users;
}

<div class="modal fade" data-backdrop="static" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModal" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование задачи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                @using (Html.BeginForm(
                    "Edit",
                    "WorkTask",
                    null,
                    FormMethod.Post,
                    true,
                    new {@class = "form-horizontal needs-validation", id = "modalForm", onsubmit = "saveModalForm(event)", novalidate = "", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Id)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TaskResponsibleId, new {@class = "control-label"})
                        @Html.DropDownListFor(m => m.TaskResponsibleId,
                            new SelectList(users, "Id", "FullName"), "Выберите исполнителя",
                            new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DocumentName, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.DocumentName, new {@class = "form-control", autocomplete = "off"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DocumentNumber, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.DocumentNumber, new {@class = "form-control", autocomplete = "off"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Discription, new {@class = "control-label"})
                        @Html.TextAreaFor(m => m.Discription, new {@class = "form-control", autocomplete = "off"})
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(m => m.IsRepeat, "false", new {@class = "form-check-input isRepeat", id = "IsNotRepeat"})
                        @Html.Label("IsNotRepeat", "Срок исполнения (один раз)",new {@class = "form-check-label curson-pointer"})
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CompletionDate, "{0:yyyy-MM-dd}", new {@class = "form-control", type = "date", autocomplete = "off"})
                    </div>

                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(m => m.IsRepeat, "true", new {@class = "form-check-input isRepeat", id = "IsRepeat"})
                        @Html.LabelFor(m => m.IsRepeat, "Срок исполнения (переодично)", new {@class = "form-check-label curson-pointer"})
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.AdditionToDeadlines, new {@class = "form-control", placeholder = "Текст с описанием частоты исполенния", autocomplete = "off"})
                    </div>
                    <div class="custom-control custom-switch mt-2">
                        @Html.CheckBoxFor(m => m.IsUrgent, new {autocomplete = "off", @class = "custom-control-input"})
                        @Html.LabelFor(m => m.IsUrgent, "Особое внимание", new {@class = "custom-control-label cursor-pointer"})
                    </div>
                    <input type="submit" hidden="hidden" id="saveBtn"/>
                }
            </div>
            <div class="modal-footer d-flex justify-content-sm-between">
                <button class="btn btn btn-success" onclick="document.getElementById('saveBtn').click()">Сохранить</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        
        let modalElement = $('#showModal');
        $("#TaskResponsibleId").select2({
            theme: 'bootstrap4',
            dropdownParent: modalElement
        })
        
        $('.isRepeat').on('change', function () {
            let value = $(this).val();
            value= value === 'true';
            if (value) {
                $("#CompletionDate").addClass("hide");
                $("#AdditionToDeadlines").removeClass("hide");  
            } else {
                $("#CompletionDate").removeClass("hide");
                $("#AdditionToDeadlines").addClass("hide");
            }
        }) 
        $(".isRepeat:checked").change();
    })
</script>