@model SpecialPersonViewModel

@{
    FilterDataViewModel filterDataViewModel = ViewBag.FilterData;
    var sendDates = ViewBag.SendDates;
}

<div class="modal fade" data-backdrop="static" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModal" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование персональщика</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                @using (Html.BeginForm(
                    "Edit",
                    "PersonalGuidance",
                    null,
                    FormMethod.Post,
                    true,
                    new {@class = "form-horizontal needs-validation", id = "modalForm", onsubmit="saveModalForm(event)", novalidate = "", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Id)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Patronymic, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.Patronymic, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BirthYear, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.BirthYear, new {@class = "form-control", type = "number"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.MilitaryComissariatId, new {@class = "control-label"})
                        @Html.DropDownListFor(m => m.MilitaryComissariatId,
                            new SelectList(filterDataViewModel.MilitaryComissariats, "Id", "ShortName", 0),
                            new {@class = "form-control"})
                    </div>
                    <hr/>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DirectiveTypeId, new {@class = "control-label"})
                        @Html.DropDownListFor(m => m.DirectiveTypeId,
                            new SelectList(filterDataViewModel.DirectiveTypes, "Id", "ViewName"),
                            new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.RequirementTypeId, new {@class = "control-label"})
                        @Html.DropDownListFor(m => m.RequirementTypeId,
                            new SelectList(filterDataViewModel.RequirementTypes, "Id", "Name"),
                            new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.MilitaryUnitId, new {@class = "control-label"})
                        @Html.DropDownListFor(m => m.MilitaryUnitId,
                            new SelectList(filterDataViewModel.MilitaryUnits.Select(m => new {Value = m.Id, Text = $"{m.Id} ({m.Name})"}), "Value", "Text"),
                            new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SendDate, new {@class = "control-label"})
                        @Html.DropDownListFor(m => m.SendDate,
                            new SelectList(sendDates, "Value", "Text"),
                            new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Notice, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.Notice, new {@class = "form-control"})
                    </div>
                    <div class="custom-control custom-switch mt-2">
                        @Html.CheckBoxFor(m => m.IsDmo, new {autocomplete = "off", @class = "custom-control-input"})
                        @Html.LabelFor(m => m.IsDmo, "Находиться на доп. мед. обследовании", new {@class = "custom-control-label cursor-pointer"})
                    </div>
                    <input type="submit" hidden="hidden" id="saveBtn"/>
                }
            </div>
            <div class="modal-footer d-flex justify-content-sm-between">
                <button class="btn btn btn-success" onclick="document.getElementById('saveBtn').click()">Сохранить</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        let modalElement = $("#showModal")
        let militaryUnitIdSelect = $('#MilitaryUnitId')
        $("#RequirementTypeId").select2({
            theme: 'bootstrap4',
            dropdownParent: modalElement
        })
        $("#MilitaryComissariatId").select2({
            theme: 'bootstrap4',
            dropdownParent: modalElement
        })
         militaryUnitIdSelect.select2({
             theme: 'bootstrap4',
             dropdownParent: modalElement
         })
         militaryUnitIdSelect.on('change', function () {
             let id = document.getElementById('MilitaryUnitId').value
             $.ajax({
                 url: '@Url.Action("SendDateJsonList", "MilitaryUnit")',
                 data: {id: id},
                 type: 'get',
                 success: function(data) {
                     $('#SendDate').html("<option value='-'>-</option>");
                     if (data.isSucceeded) {
                         data.result.forEach((item) => {
                             $('#SendDate').append(`<option value="${item}">${item}</option>`)
                         })
                     } else {
                         alert('Не удалось загрузить время отправки')
                     }
                 }
             })
        })
    })
</script>